body {
	margin: 0;
	padding-left: 50px;
	padding-top: 25px;
	padding-right: 50px;
	background-color: #f2f2f2;
	font-family: "Heebo Regular"
}

.grid1 {
	display: grid;
	grid-template-columns: 62% 38%;
	grid-template-rows: 90%;
}

.grid2 {
	display: grid;
	grid-template-columns: 60% 30%;
	padding-left: 60px;
	padding-top: 47px;
}

.body-1 {
	grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 1;
	grid-row-end: 2;
	padding: 20px;
	background-color: white;
}

.body-2 {
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: #dff9fb;
	grid-row-start: 1;
	grid-row-end: 2; 
}

header {
	width: 100%;

}

header div {
	display: inline-block;
	padding: 20px;
}

.search img {
	position: relative;
    top: 10px;
}

.left-body {
	display: inline-block;
	margin-top: 18px;
	margin-left:32px;
}

.left-body div {
	padding: 15px;
}

input[type="email"] {
	border: 0;
	font-size: 12px;
	background-color: #dff9fb;
	height: 36px;
	width: 250px;
	border-radius: 9px;
	padding-left: 15px;
}

.left-body button {
	background-color: #650fd6;
	border: 0;
	border-radius: 7px;
	height: 36px;
	width: 100px;
	color: white;
	position: relative;
}

.withu {
	font-size: 41px;
}

.search-input {
	border-radius: 15px;
	width: 30px;
	height: 30px;
	border: 1px solid grey;
    outline: none;
    transition: 0.2s width ease;
    background-image: url("filename.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
}

.search-input:hover {
    width: 120px;
    background-image: inherit;
}

#phn {
	border-radius: 47px;
}

#obj {
	border-radius: 20px;
	position: relative;
	top: 98px;
	right: 47px;
	animation: animate_3 5s infinite;
}
	


.sell {
	margin-left: -25px;
	margin-top: 9px;
	animation: animate_1 5s infinite;
}

.earn {
	position: relative;
	bottom: 72px;
}

.earn img {
	border-radius: 15px;
	border-top-left-radius: 9px;
}

.earn_1 {
	position: relative;
	bottom: 27px;
	left: 11px;
	animation: animate_2 5s infinite;
}


@keyframes animate_2 {
	0% {
		transform: translate3d(0px, 0px, 0px);
		animation-timing-function: ease;
	}

	50% {
		transform: translate3d(0px, 30px, 0px);
		animation-timing-function: ease;
	}

	100% {
		transform: translate3d(0px, 0px, 0px);
		animation-timing-function: ease;
	}
}

@keyframes animate_1 {
	0% {
		transform: translate3d(0px, 0px, 0px);
		animation-timing-function: ease;
	}

	50% {
		transform: translate3d(0px, 16px, 0px);
		animation-timing-function: ease;
	}

	100% {
		transform: translate3d(0px, 0px, 0px);
		animation-timing-function: ease;
	}
}

@keyframes animate_3 {
	0% {
		transform: translate3d(0px, 0px, 0px);
		animation-timing-function: ease;
	}

	50% {
		transform: translate3d(30px, 0px, 0px);
		animation-timing-function: ease;
	}

	100% {
		transform: translate3d(0px, 0px, 0px);
		animation-timing-function: ease;
	}
}